name: Publish

on:
    push:
        tags:
            - "v*"

jobs:
    publish:
        name: Publish
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v2
              with:
                  fetch-depth: 0

            - name: Setup Node.js
              uses: actions/setup-node@v3
              with:
                  cache: "yarn"
                  registry-url: "https://registry.npmjs.org"

            - name: Install NPM dependencies
              run: yarn install

            - name: Lint
              run: yarn lint

            - name: Build
              run: yarn build

            - name: Output
              run: cd packages/lib && ls -a && cd ../../

            - name: Publish
              run: cd packages/lib && yarn release-ci
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

            - name: Output
              run: cd packages/lib && ls -a && cd ../../

            - name: Publish storybook
              run: cd packages/docs && yarn release-ci
              env:
                  CHROMATIC_PROJECT_TOKEN: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
